footer{
font-family:"Lucida Sans Unicode";
padding:6px 40px 6px 40px;
background:#d6d6d6;
color:#444444;
font-size:11px;
text-decoration:right;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

.separator{
color:rgba(53, 100, 96, 1);
font-size:11px;	
}
#contact{
text-align:center;
margin:bottom;	
}

#form{
width:500px;	
padding:10px 10px 10px 10px;
margin:0 auto;
}

#form input{
width:100%;
border-radius:5px;
height:20px;
background:#D6D6D6;		
}

#form #message{
width:100%;
border-radius:5px;
background:#D6D6D6;		
}

#cover{
border:1px dashed black;	
width:300px;
height:169px;		
}

#html{
width:300px;		
}

.container{
display:inline-block;	
}

#text{
position: absolute;
top: 66px;
right: 12px;
width: 856px;
border-radius: 10px;
border: 1.5px dashed black;
padding: 8px;	
}

#text2{
    position: absolute;
    top: 290px;
    right: 12px;
    width: 856px;
    border-radius: 10px;
    border: 1.5px dashed black;
    padding: 8px;	
    }

#hh{
font-size:20px;
top:-10px;
}

#pp{
font-size:20px;
top:-50px;
}

#udemy{
top:-20px;
left:0px;
width: 190px;
display: inline-block;
position: absolute;	
}

#coe{
position: absolute;
top: -95px;
right: -28px;		
}
